html, body {
padding: 10px 0 0 0;
margin: 0;
font-family: monospace;
background: #fff;
}

h1 {
  width: 700px;
  margin-left: 150px
}

div.page {
  padding: 0;
  position: absolute;
  left: 1px;
  width: 15cm;
  min-height: 29.7cm;
  background: #fff;

}

div.info {
  padding: 1px 10px 10px 10px;
  font-size: 13px;
  text-align: center;
  box-shadow: 0 2px 2px grey;
  background: #fff;
  width: 190px;
  position: absolute;
}

div.coordonnees {
  font-weight: bold;
  color: #fff;
  background: #27ae60;
  box-shadow: 0 0 1px grey;
  font-size: 10px;
  text-align: left;
  height: 100px;
  top: 30px;
  left: 75px;
}

div.coordonnees p:nth-child(1) {
  font-weight: bold;
  font-size: 15px;
}

h2 {
  width: 600px;
  font-size: 45px;
  position: absolute;
  left: 280px;
  top: 25px;
}

div.grab {
  text-align: right;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  background: #00b894;
  box-shadow: 0 0 1px grey;
  display: flex;
  align-items: center;
  top: 30px;
  width: 443px;
  left: 298px;
  height: 100px;
}

#titre {
  text-align: left;
  width: 180px;
  margin: 20px 40px 20px 20px;
  font-size: 15px;
}

div.main {
   padding: 1px 10px 10px 10px;
   position: absolute;
   border-top: 5px solid #00b894;
   height: 508px;
   width: 220px;
   top: 150px;
   left: 298px;
   box-shadow: 0 2px 2px grey;
   background: #fff;
}

h4.sep-1 {
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
}

h4.sep-2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
  margin-top: 40px;
}

div.level {
  padding-left: 2px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 7px;
  font-weight: bolder;
  left: 95px;
  position: absolute;
  height: 12px;
}

div.progskills {
  border-top: 5px solid #27ae60;
  top: 150px;
  left: 75px;
}

div.progskills h5 {
  text-align: left;
  margin-left: 10px;
}

div.html {width: 95px; background-color: green}
div.css {width: 65px; background-color: green}
div.Js {width: 40px; background-color: green}
div.c {width: 55px; background-color: green}
div.python { width: 30px; background-color: green}
div.sql {width: 75px; background-color: green}
div.ruby {width: 30px; background-color: green}

div.software {
  border-top: 5px solid #27ae60;
  top: 453px;
  left: 75px;
  height: 205px;
}

div.software h5 {
  text-align: left;
  margin-left: 10px;
}

div.photoshop {width: 45px; background-color: green}
div.django {width: 30px; background-color: green}
div.ror{width: 30px; background-color: green}
div.apache{width: 45px; background-color: green /*#6D214F*/}

div.work {
  border-top: 5px solid /*#d35400*/ #00b894;
  top: 285px;
  left: 552px;
  height: 150px;
  text-align: left;
}

div.work ul > li {margin: 0  0 15px -7px}


div.langues {
  border-top: 5px solid /*#f1c40f*/ #00b894;
  top: 150px;
  left: 552px;
}

div.langues li ~ li {margin-top: 16px}
div.langues li {margin-left: -7px}

div.projet {
  border-top: 5px solid #00b894;
  top: 462px;
  left: 552px;
  height: 196px;
  text-align: left;
}

div.projet ul > li ~ li {padding-top: 10px; border-top: 1px solid #000}
div.projet ul li {margin-left: -7px}
div.projet ul p {margin-left: -7px}


ul {
  margin-bottom: 20px;
  text-align: left;
  margin-left: -22px;
  font-size: 10px;
  font-weight: bold;
  list-style: none;
}

h4 {
  text-align: left;
  margin-left: 10px;
 }

@page {
  size: A4;
  margin: 1cm;
}

@media print {
  div.page {
    padding: initial;
    left: initial;
    width: initial;
    min-height: initial;
    background: initial;
  }
}
